@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat;

<div class="header">Add a Treat</div>

<hr>

<h3>Add a Flavor to this Treat: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>Back to @Html.ActionLink("treat list", "Index")</p>