@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat;

<div class="header">Treat details</div>

<hr>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This treat does not have any associated flavors yet</p>
}
else
{
  <h4>Flavors associated to this treat:</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Flavor.Name}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete" class="btn btn-default" />
      }
    }
  </ul>
}
<tr>
<td>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</td> |
<td>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</td> |
<td>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</td> |
<td>@Html.ActionLink("Back to Treats", "Index")</td> 
</tr>